__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

/data/
/datasets/
/checkpoints/
/logs/
/outputs/
/runs/
/wandb/
*.ckpt
*.pth
*.pt
*.safetensors
*.exr

.DS_Store
.vscode/
